.footer-info{
    margin-top: 100px;
    text-align: center;
}

.footer-icons{
    margin-top: 20px;
}

.fa{
    margin: 10px;
    cursor: pointer;
}

.footer-li li{
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.f-li:hover{
    color: rgb(2, 252, 219);
}

.copyright{
    margin: 20px;
}