*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

h1,h2,h3,h4,h5,p{
  color: white;
}

li{
  list-style-type: none;
  color: white;
}

.white {
  color: white;
}

.hero-btn{
  padding: 10px 20px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: rgb(238, 255, 0);
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-btn:hover{
  color: rgb(123, 119, 119);
  background-color: greenyellow;
}

